.profile__container {
  margin: 0 auto; /* this will center the page */
  max-width: 960px; /*  use your width here */
}

.profile__divider {
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.MuiButton-root {
  color: #ab958e !important;
}

.profile__menu--active {
  color: black !important;
}

.profile__postsGrid {
  text-align: center;
  padding: 20px;
}

.profile__postsGrid .MuiCircularProgress-colorPrimary {
  color: #ab958e !important;
}

/* @media (max-width: 559px) {
  .profile__divider {
    width: 200%;
    margin-left: -50%;
  }
} */
