.post {
  max-width: 600px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post__text {
  font-weight: normal;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post__image {
  border: none;
}

.post__text {
  padding-left: 20px;
}

.post__textTwo {
  padding-left: 20px;
  padding-bottom: 10px;
  color: #b1b1b1;
}

.post__controls {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
}

.post__leftTop {
  display: flex;
  align-items: center;
}

.post__icon {
  font-size: 30px !important;
  margin-right: 10px;
  cursor: pointer;
}

.post__icon--active {
  color: red !important;
}

.post__date {
  padding-left: 20px;
  padding-bottom: 10px;
  color: #b1b1b1;
}

.post__comments {
  padding-left: 20px;
  padding-bottom: 10px;
}
