.followSuggestion {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followSuggestion__left {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.followSuggestion__avtar {
  margin-right: 10px;
}

.followSuggestion .MuiButton-label {
  font-weight: 800 !important;
  color: #00a2f8 !important;
}
